In [1]:
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import StaleElementReferenceException
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [2]:
c_options=Options()
c_options.add_argument('--incognito')
driver=webdriver.Chrome("chromedriver.exe",chrome_options=c_options)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: use options instead of chrome_options
  This is separate from the ipykernel package so we can avoid doing imports until

Q 1

In [376]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/')

Wikipedia says: "Wikipedia does not have an article with this exact name"

Q 2

In [3]:
driver.get('https://www.bcci.tv/')

In [4]:
from selenium.webdriver.common.action_chains import ActionChains

In [8]:
hover = ActionChains(driver).move_to_element(driver.find_element_by_xpath('//li[@class="navigation__item"]'))
hover.perform()

In [9]:
driver.get(driver.find_element_by_xpath('//a[@class="navigation__link navigation__link--in-drop-down"]').get_attribute('href'))

In [21]:
title=[i.text for i in driver.find_elements_by_xpath('//span[@class="u-unskewed-text fixture__format"]')]

series=[i.text for i in driver.find_elements_by_xpath('//span[@class="u-unskewed-text fixture__tournament-label u-truncated"]')]

place=[i.text for i in driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span')]

date_n_time=[i.text for i in driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]')]

In [22]:
date_n_time=[i.replace('\n',' ') for i in date_n_time]

In [24]:
data_bcci={
    'Title':title,
    'Series':series,
    'Place':place,
    'Date and time':date_n_time}
data=pd.DataFrame(data_bcci)
data.to_csv('Data_BCCI.csv')
data.head()

,Title,Series,Place,Date and time
0,T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Friday 12 MARCH 19:00 IST
1,T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Sunday 14 MARCH 19:00 IST
2,T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Tuesday 16 MARCH 19:00 IST
3,T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Thursday 18 MARCH 19:00 IST
4,T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Saturday 20 MARCH 19:00 IST

Q 3

In [30]:
driver.get('https://www.guru99.com/')

In [34]:
driver.get(driver.find_elements_by_xpath('//li[@class="fa fa-chevron-circle-right"]/a')[2].get_attribute('href'))

In [49]:
driver.get(driver.find_elements_by_xpath('//td[@class="responsivetable"]/a')[68].get_attribute('href'))

In [51]:
g=driver.find_element_by_xpath('//table[@class="table table-striped"]').text

In [52]:
gi=g.split('\n')

In [54]:
gi=gi[1:]

In [56]:
exp=[i.split(" ")[0] for i in gi]

In [60]:
des=[i.split(" ",1)[1] for i in gi]

In [62]:
data_guru={
    'Exception':exp,
    'Description':des}
data=pd.DataFrame(data_guru)
data.to_csv('Data_guru.csv')
data.head()

,Exception,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...

Q 4

In [211]:
driver.get('http://statisticstimes.com/')

In [95]:
hover = ActionChains(driver).move_to_element(driver.find_elements_by_xpath('//button[@class="dropbtn"]')[1])
hover.perform()

In [96]:
driver.get(driver.find_elements_by_xpath('//div[@class="dropdown-content"]/a')[4].get_attribute('href'))

In [97]:
lis=[i.get_attribute('href') for i in driver.find_elements_by_xpath('//ul[@style="list-style-type:none;margin-left:50px;"]/li/a')]

In [ ]:
state=[]
rank=[]
k=0
gsdp_18_19=[]
gsdp_17_18=[]
for i in lis:
    driver.get(i)
    rank.append(k+1)
    k=k+1
    state.append(driver.find_element_by_xpath('//h1[@itemprop="about"]').text.split(' ')[2:])
    gsdp_18_19.append(driver.find_element_by_xpath('//table[@id="table_id"]/tbody/tr[@class="odd"]/td[@class="data1"]').text)
    gsdp_17_18.append(driver.find_element_by_xpath('//table[@id="table_id"]/tbody/tr[@class="even"]/td[@class="data1"]').text)

Other than Delhi none of the state details is available

Q 5

In [229]:
driver.get(' https://github.com/')

In [230]:
hover = driver.find_elements_by_xpath('//details[@class="HeaderMenu-details details-overlay details-reset width-full"]')[1]
hover.click()

In [231]:
driver.get(driver.find_elements_by_xpath('//li[@class="edge-item-fix"]/a')[13].get_attribute('href'))

In [232]:
lis=[i.get_attribute('href') for i in driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]/a')]

In [233]:
repo_title=[i.text for i in driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]/a')]
repo_des=[]
c_count=[]
lang=[]
for i in lis:
    driver.get(i)
    try:
        c_count.append(driver.find_element_by_xpath("//*[contains(text(),'Contributor')]/span").text)
    except NoSuchElementException as e:
        c_count.append('1')
    try:
        lang.append(driver.find_element_by_xpath("//*[contains(text(),'Language')]/following-sibling::ul").text)
    except NoSuchElementException as e:
        lang.append('NA')

    try:
        repo_des.append(driver.find_element_by_xpath("//*[contains(text(),'About')]/following-sibling::p").text)
    except NoSuchElementException as e:
        repo_des.append('NA')

In [235]:
lang=[i.replace('\n',' ') for i in lang]

In [236]:
data_git={
    'Repository Title':repo_title,
    'Repository Description':repo_des,
    'Language':lang,
    'Contributor count':c_count}
data=pd.DataFrame(data_git)
data.to_csv('Data_Git.csv')
data.head()

,Repository Title,Repository Description,Language,Contributor count
0,dolthub / dolt,Dolt – It's Git for Data,Go 95.6% Shell 4.3% Python 0.1% Lua 0.0% C# 0....,21
1,openai / CLIP,Contrastive Language-Image Pretraining,Jupyter Notebook 99.1% Python 0.9%,3
2,google / googletest,Googletest - Google Testing and Mocking Framework,C++ 84.7% Python 12.3% CMake 1.0% C 0.9% Starl...,316
3,flutter / flutter,We think Flutter will help you create beautifu...,Dart 99.2% Objective-C 0.2% Java 0.2% C++ 0.1%...,815
4,git / git,Git Source Code Mirror - This is a publish-onl...,C 48.5% Shell 36.6% Perl 6.3% Tcl 4.6% Python ...,"1,446"

Q 6

In [237]:
driver.get('https://www.billiboard.com/')

The question assumes this site to be songs related but the driver got a page related to carrom boards.

Q 7

In [254]:
driver.get(' https://www.naukri.com/')

In [255]:
driver.get(driver.find_element_by_xpath('//a[@title="Search Recruiters"]').get_attribute('href'))

In [256]:
search_job=driver.find_element_by_xpath('//input[@class="sugInp"]')
search_job.send_keys("Data Science")
search_btn=driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]')
search_btn.click()

In [265]:
name=[i.text for i in driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')]

In [267]:
desig=[i.text for i in driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')]

In [280]:
company=[i.text for i in driver.find_elements_by_xpath('//a[@class="ellipsis"]')]

In [285]:
com=[]
for i in range(len(company)):
    if i%2==1:
        com.append(company[i])

In [274]:
skill_h_f=[i.text for i in driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')]

In [276]:
location=[i.text for i in driver.find_elements_by_xpath('//small[@class="ellipsis"]')]

In [289]:
data_nauk_emp={
    'Name':name,
    'Designation':desig,
    'Skills hire for':skill_h_f,
    'Company':com}
data=pd.DataFrame(data_nauk_emp)
data.to_csv('Data_Nauk_Emp.csv')
data.head()

,Name,Designation,Skills hire for,Company
0,Aakash Harit,HR Manager,"Classic ASP Developer, Internet Marketing Prof...",Data Science Network
1,shravan Kumar Gaddam,Company Recruiter,".Net, Java, Data Science, Linux Administration...",Shore Infotech India Pvt. Ltd
2,Talent Acquisition Executive,Recruitment Professional,"Web Designing, html5, Angular.js, seo, hadoop,...",XenonStack
3,Anik Agrawal,Company Recruiter,"Mean Stack, javascript, angularjs, mongodb, We...",Enerlytics Software Solutions Pvt Ltd
4,MARSIAN Technologies LLP,Company HR,"Data Science, Artificial Intelligence, Machine...",MARSIAN Technologies LLP

Q 8

In [291]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

In [302]:
all_=[i.text for i  in driver.find_elements_by_xpath('//td[@class="left"]')]

In [307]:
genr=[i.text for i  in driver.find_elements_by_xpath('//td[@class="last left"]')]

In [309]:
rank=[]
title=[]
author=[]
v_sold=[]
pub=[]

In [311]:
for i in range(int(len(all_)/5)):
    k=int(i*5)
    rank.append(all_[k])
    title.append(all_[k+1])
    author.append(all_[k+2])
    v_sold.append(all_[k+3])
    pub.append(all_[k+4])

In [316]:
data_book_best={
    'Rank':rank,
    'Title':title,
    'Author':author,
    'Volumes Sold':v_sold,
    'Publication':pub,
    'Genre':genr}
data=pd.DataFrame(data_book_best)
data.to_csv('Data_Book_Best.csv')
data.head()

,Rank,Title,Author,Volumes Sold,Publication,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas

Q 9

In [317]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [318]:
name=[i.text for i in driver.find_elements_by_xpath('//h3[@class="lister-item-header"]')]

In [331]:
names_n_year=[i.split('. ')[1] for i in name]

In [334]:
gnr=[i.text for i in driver.find_elements_by_xpath('//span[@class="genre"]')]

In [337]:
runtime=[i.text for i in driver.find_elements_by_xpath('//span[@class="runtime"]')]

In [340]:
rating=[i.text for i in driver.find_elements_by_xpath('//span[@class="ipl-rating-star__rating"]')]

100

In [342]:
len(rating)

2300

In [345]:
rati=[]
for i in range(len(rating)):
    if(i%23==0):
        rati.append(rating[i])

In [348]:
no_of_votes=[i.text for i in driver.find_elements_by_xpath('//span[@name="nv"]')]

In [350]:
len(no_of_votes)

100

In [351]:
data_tv_best={
    'Title and Years span':names_n_year,
    'Runtime':runtime,
    'Rating':rati,
    'Number of votes':no_of_votes,
    'Genre':gnr}
data=pd.DataFrame(data_tv_best)
data.to_csv('Data_TV_Best.csv')
data.head()

,Title and Years span,Runtime,Rating,Number of votes,Genre
0,Game of Thrones (2011–2019),57 min,9.3,"1,778,939","Action, Adventure, Drama"
1,Stranger Things (2016– ),51 min,8.7,"829,459","Drama, Fantasy, Horror"
2,The Walking Dead (2010– ),44 min,8.2,"857,085","Drama, Horror, Thriller"
3,13 Reasons Why (2017–2020),60 min,7.6,"257,294","Drama, Mystery, Thriller"
4,The 100 (2014–2020),43 min,7.6,"217,853","Drama, Mystery, Sci-Fi"

Q 10

In [352]:
driver.get('https://archive.ics.uci.edu/')

In [355]:
button=driver.find_element_by_xpath("//*[contains(text(),'View ALL Data Sets')]")
button.click()

In [357]:
gi=[i.text for i in driver.find_elements_by_xpath('//p[@class="normal"]')]

In [370]:
len(gi[8:-2])

4095

In [371]:
name=[]
da_type=[]
task=[]
attrb=[]
n_inst=[]
n_atbr=[]
year=[]

In [372]:
gii=gi[8:-2]

In [373]:
for i in range(int(len(gii)/7)):
    k=int(i*7)
    name.append(gii[k])
    da_type.append(gii[k+1])
    task.append(gii[k+2])
    attrb.append(gii[k+3])
    n_inst.append(gii[k+4])
    n_atbr.append(gii[k+5])
    year.append(gii[k+6])

In [375]:
data_data_sets={
    'Name':name,
    'Data Type':da_type,
    'Task Type':task,
    'Attribute Types':attrb,
    'Number of Instances':n_inst,
    'Number of Attributes':n_atbr,
    'Year':year}
data=pd.DataFrame(data_data_sets)
data.to_csv('Data_Datasets.csv')
data.head()

,Name,Data Type,Task Type,Attribute Types,Number of Instances,Number of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998